
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Basics of Forms: HTML Version</h2>
<br />

<form method="POST" action="/Basics/Index" class="text-center">

    @Html.AntiForgeryToken()

    <label for="email">Email: </label>
    <br />
    <input type="email" name="email" />
    <br /><br />
    <label for="password1">Password: </label>
    <br />
    <input type="password" name="password1" />
    <br /><br />
    <label for="password2">Verify Password: </label>
    <br />
    <input type="password" name="password2" />
    <br /><br />
    <input type="submit" value="Submit" class="btn btn-info"/>

</form>

